.EditForm{
    margin-top: 5%;
    margin-bottom: 5%;
}
.helpmsg{
    color:blue;
}
button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}
.fa-spinner {
    margin-right: 8px;
}

#topdiv{
    margin-top: 5%;
    text-align: center;
    margin-bottom: 5%;
}