.userlist{
    margin-top: 5%;
    margin-bottom: 5%;
}
.ed{
    float:right;
}
.editbtn{
    margin-right: 10px;
}
#sno{
    float: left;
}
#nouser{
    text-align: center;
    margin: 20% 20% 50% 20%;
}

.vrbtn{
  float: right;
}

.srchinp{
  width: 500px;
  margin-top:5%;
  margin-left: 25%;
}

#pagediv{
text-align: center;
margin-bottom: 5%;
}

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 20% 50% 50% 50%;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background:blueviolet;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }

  @media only screen and (max-width: 600px) {
    .srchinp{
      width: 300px;
      margin-top:5%;
      margin-left: 5%;
      margin-right: 20%
    } 
  }