.registerForm{
    margin-top: 5%;
    margin-bottom: 5%;
}
.helpmsg{
    color:blue;
}
button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}
.subBtn{
    margin-right: 15px;
}
#topdiv{
    margin-top: 5%;
    text-align: center;
    margin-bottom: 5%;
}
#pc{
    color: grey;
}
.fa{
    margin-right: 8px;
}
.mandatory{
    color: red;
}
