.registerForm{
    margin-top: 5%;
    margin-bottom: 5%;
}
.helpmsg{
    color:blue;
}
button:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}
.fa {
    margin-right: 8px;
  }
  